/* CSS Document */

body {
	background-color: #941e06;
	background-repeat: repeat;
}

h1, h2, h3 {
	font-family: 'Rubik Mono One', sans-serif; 'Abril Fatface', cursive; 'Merriweather Sans', sans-serif;
	'Merriweather', serif; 'Montserrat', sans-serif; 'Roboto Serif', sans-serif; 'Roboto Slab', serif;
}

h1 {
	color: #000000;
	font-size: 32px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px; letter-spacing: 5px;
}

h2 {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 1px;
}

h3 {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	font-family: 'Montserrat', sans-serif; 'Roboto Serif', sans-serif; 'Roboto Slab', serif;
	'Merriweather Sans', sans-serif; 'Merriweather', serif;
	font-size: 16px;
	line-height:1.5em;
}

table, tr, td {
	outset #941e06;
	border-collapse: collapse;
	table-layout: fixed;
	margin-bottom: 25px;
}

td {
	font-family: 'OpenSans Regular', 'Roboto Regular', 'Montserrat Regular';
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

hr {
	clear: both;
}

/* Dropdown Button to pick authors below */
.dropdown-button {
	background-color: #941e06;
	color: white;
	padding: 14px;
	font-size: 14px;
	border: none; }

.dropdown {
	position: relative;
	display: inline-block;
margin-bottom: 25px; }

	/* Dropdown Content (Hidden by Default) */
.dropdown-list {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	font-size: 14px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1; }

	/* Links inside the dropdown */
.dropdown-list a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: verdana; }

	/* Change color of dropdown links on hover */
.dropdown-list a:hover {
	background-color: #ddd;	}

	/* Show the dropdown list on hover */
.dropdown:hover .dropdown-list {
	display: block; }

	/* Change the background color of the dropdown button when the dropdown list is shown */
.dropdown:hover .dropdown-button {
	background-color: #6666ff; }

.dropdown-scrollbar	{
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;	}
/* Dropdown Button to pick authors above */

/* Dropdown Language Button */
				.dropdown-button1 {
					background-color: #941e06;
					color: white;
					padding: 14px;
					font-size: 14px;
					border: none; }
				.dropdown1 {
					position: relative;
					display: inline-block;
					margin-bottom: 25px; }

				/* Dropdown Content (Hidden by Default) */
				.dropdown-list1 {
					display: none;
					position: absolute;
					background-color: #f1f1f1;
					min-width: 92px;
					font-size: 12px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1; }

				/* Links inside the dropdown */
				.dropdown-list1 a {
					color: black;
					padding: 10px 10px;
					text-decoration: none;
					display: block;
					font-family: verdana; }

				/* Change color of dropdown links on hover */
				.dropdown-list1 a:hover {
					background-color: #ddd; }

				/* Show the dropdown list on hover */
				.dropdown1:hover .dropdown-list1 {
					display: block; }

				/* Change the background color of the dropdown button when the dropdown list is shown */
				.dropdown1:hover .dropdown-button1 {
					background-color: #6666ff; }
/* Dropdown Language Button */

/* Text Definitions */
.verse {
	font-size: 13px;
}

.chapter {
	font-size: 14px;
}

/* Text Definitions */
#verse {
	font-size: 13px;
}

#chapter {
	font-size: 14px;
}

.title {
	display: inline; clear: both;
}

.backbuttontitle {
	float: left; vertical-align: middle;
}

.forwardbuttontitle {
	float: right; vertical-align: middle;
}

#title {
	clear: both; padding: 20px;
	border-top: 3px double #941e06;
	border-bottom: 3px double #941e06;
}
#title-author {
	clear:both;
	padding: 20px;
}
#title-birthday {
	clear:both; padding: 20px;
	border-bottom: 3px double #941e06;
}

#book-name {
	clear:both; padding:20px;
}

#website-name {
	margin-bottom: 20px;
	clear: both;
	color: #c6461a;
	font-size: 36px;
	font-style: "palatino";
	text-align: center;
}
/* Text Definitions */

/* DIV Definitions */
#wrapper {
	width:900px; margin:10px auto;
	background-color:#fff;
	padding:0 40px;
}

#content-wrapper {
	clear: both;
}

#top {
	width: auto;
	height: auto;
}

#logo {
	float:left;
	margin: 15px 0 15px 0;
	position: relative;
}

#social-media {
	float:right;
	margin: 15px 0 15px 0;
	position: relative;
}

#social-media ul li {
	display:inline;
	list-style-type:none;
}

#social-media p {
	text-align:right;
}

#banner {
	margin-bottom: 25px;
}

#container {
	clear: both;
	position: relative;
	height: auto;
}
#left, #right {
	position: absolute;
	top: 0px;
	bottom: 0px;
}
#left {
	left: 0px;
	width: 550px;
}
#right {
	right: 180px;
	width: 200px;
}
/* DIV Definitions */

/* Top Navigation Definitions */
#menu {
	background: #000000;
	color: #FFF;
	height: 32px;
	border-radius: 0px;
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 160px;
	padding-right: 160px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	align-content: center;
	display: inline-flex;
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 32px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\002B";
	margin-left: 5px;
}
#menu li a:hover {
	color: #941E06;
	background: #FFFFFF;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 32px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 32px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #878787;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
#menu .active {
	background: #F2F2F2;
	color: black;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
/* Top Navigation Definitions */

/* Sections Navigation in the books Definitions */
#topnav {
	clear:both;
}
#topnav ul {
	padding:5px;
}
#topnav ul li {
	display:inline; list-style-type:none;
	margin:0 5px 0 0;
}
/* Sections Navigation in the books Definitions */

/* Bottom Navigation Definitions */
#bottomnav {
	background: #000000;
	color: #FFF;
	height: 32px;
	border-radius: 0px;
	padding-left: 160px;
	padding-right: 160px;
	margin-top: 20px;
	margin-bottom: 25px;
}
#bottomnav ul, #bottomnav li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	align-content: center;
	display: inline-flex;
}
#bottomnav ul {
	width: 100%;
}
#bottomnav li {
	float: left;
	display: inline;
	position: relative;
}
#bottomnav a {
	display: block;
	line-height: 32px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
}
#bottomnav a.dropdown-arrow:after {
	content: "\002B";
	margin-left: 5px;
}
#bottomnav li a:hover {
	color: #941E06;
	background: #FFFFFF;
}
#bottomnav input {
	display: none;
	margin: 0;
	padding: 0;
	height: 32px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#bottomnav label {
	display: none;
	line-height: 32px;
	text-align: center;
	position: absolute;
	left: 35px
}
#bottomnav label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#bottomnav ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #878787;
	position: absolute;
	z-index: 99;
	display: none;
}
#bottomnav ul.sub-menus li {
	display: block;
	width: 100%;
}
#bottomnav ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#bottomnav li:hover ul.sub-menus {
	display: block
}
#bottomnav ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
#bottomnav .bottomnav-active {
	background: #F2F2F2;
	color: black;
}
@media screen and (max-width: 800px){
	#bottomnav {position:relative}
	#bottomnav ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#bottomnav ul.sub-menus {width:100%;position:static;}
	#bottomnav ul.sub-menus a {padding-left:30px;}
	#bottomnav li {display:block;float:none;width:auto;}
	#bottomnav input, #bottomnav label {position:absolute;top:0;left:0;display:block}
	#bottomnav input {z-index:4}
	#bottomnav input:checked + label {color:white}
	#bottomnav input:checked + label:before {content:"\00d7"}
	#bottomnav input:checked ~ ul {display:block}
}
/* Bottom Navigation Definitions */

#bottomline {
	border-bottom: 3px double #941e06;
}

#footer {
	clear:both; padding: 10px 0;
	border-top: 3px double #941e06;
}

/*SCROLL BUTTON*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 61px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: black; /* Add a black background on hover */
	color: white; /* Add a white test color on hover */
}
/*SCROLL BUTTON*/

/*DONATE BUTTON*/
.bitcoin-font {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-style: italic;
	line-height: 2;
}
.donate-btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif; Open Sans;
   font-size: 18px;
   font-weight: 100;
   padding: 10px;
   background-color: #E98A0A;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
	 position: fixed; /* Fixed/sticky position */
	 z-index: 999;
	 top: 60px; /* Place the button at the bottom of the page */
	 right: 28px; /* Place the button 30px from the right */
}
.donate-btn:hover {
 border: solid #000000 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/*DONATE BUTTON*/

/*CONTACT PAGE CSS*/

/*CONTACT PAGE CSS*/
